#
#
# Base16 {{scheme-name}}
# Author: {{scheme-author}}
#
#


\set_color "cursor" "#ff{{base05-hex}}"
\set_color "background" "#ff{{base00-hex}}"
\set_color "foreground" "#ff{{base05-hex}}"
\set_color "selection" "#ff{{base0C-hex}}"
\set_color "selectiontext" "#ff{{base00-hex}}"
\set_color "latex" "#ff{{base05-hex}}"
\set_color "preview" "#ff{{base05-hex}}"
\set_color "inlinecompletion" "#ff{{base0C-hex}}"
\set_color "nonuniqueinlinecompletion" "#ff{{base0C-hex}}"
\set_color "note" "#ff{{base0D-hex}}"
\set_color "notebg" "#ff{{base02-hex}}"
\set_color "commentbg" "#ff{{base02-hex}}"
\set_color "greyedoutbg" "#ff{{base02-hex}}"
\set_color "shaded" "#ff{{base0F-hex}}"
\set_color "listingsbg" "#ff{{base0D-hex}}"
\set_color "footlabel" "#ff{{base04-hex}}"
\set_color "urllabel" "#ff{{base05-hex}}"
\set_color "urltext" "#ff{{base05-hex}}"
\set_color "depthbar" "#ff{{base0B-hex}}"
\set_color "language" "#ff{{base05-hex}}"
\set_color "command" "#ff{{base0B-hex}}"
\set_color "commandbg" "#ff{{base02-hex}}"
\set_color "commandframe" "#ff{{base0C-hex}}"
\set_color "special" "#ff{{base02-hex}}"
\set_color "graphicsbg" "#ffffff"
\set_color "math" "#ff{{base05-hex}}"
\set_color "mathbg" "#ff{{base00-hex}}"
\set_color "mathmacrobg" "#ff{{base02-hex}}"
\set_color "mathmacroframe" "#ff{{base02-hex}}"
\set_color "mathmacroblend" "#ff{{base05-hex}}"
\set_color "mathmacronewarg" "#ff{{base05-hex}}"
\set_color "mathframe" "#ff{{base05-hex}}"
\set_color "mathcorners" "#ff{{base02-hex}}"
\set_color "mathline" "#ff{{base05-hex}}"
\set_color "collapsible" "#ff{{base0E-hex}}"
\set_color "collapsibleframe" "#ff{{base02-hex}}"
\set_color "insetframe" "#ff{{base0C-hex}}"
\set_color "eolmarker" "#ff{{base0B-hex}}"
\set_color "added_space" "#ff{{base0B-hex}}"
\set_color "appendix" "#ff{{base0F-hex}}"
\set_color "changebar" "#ff{{base01-hex}}"
\set_color "addedtext" "#ff{{base05-hex}}"
\set_color "changedtextauthor1" "#ff{{base0B-hex}}"
\set_color "changedtextauthor2" "#ff{{base0A-hex}}"
\set_color "changedtextauthor3" "#ff{{base09-hex}}"
\set_color "changedtextauthor4" "#b58900"
\set_color "changedtextauthor5" "#ff{{base0F-hex}}"
\set_color "tabularline" "#ff{{base05-hex}}"
\set_color "tabularonoffline" "#ff{{base0C-hex}}"
\set_color "bottomarea" "#ff{{base02-hex}}"
\set_color "newpage" "#ff{{base0B-hex}}"
\set_color "pagebreak" "#ff{{base0D-hex}}"
\set_color "buttonframe" "#ff{{base0C-hex}}"
\set_color "buttonbg" "#ff{{base00-hex}}"
\set_color "buttonhoverbg" "#ff{{base02-hex}}"
\set_color "paragraphmarker" "#ff{{base0C-hex}}"
\set_color "previewframe" "#ff{{base05-hex}}"

